@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device=width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="styles.css"/>
</head>

<body class="dark:bg-black dark:text-white dark:bg-none">
    <input type="radio" name="test" id="dark" value="dark">
    <label>Dark</label>
    <br>
    <input type="radio" name="test" id="light" value="light">
    <label>Light</label>
    <br>
    <p class="test" id="pTest">test paragraph</p>
    <br>
    <h1 class="test">test h1</h1>
    <br />
    <div>
        <h2>test container</h2>
        <br />
        <h2>test container</h2>
    </div>
</body>

